{% load menu_tags %}
{% for item in menu_items %}
<ul class="nav">
  {% if item.children.all %}
    <li class="dropdown">
      <a href="{{ item.url }}" class="dropdown-toggle" data-toggle="dropdown">{{ item.name }} <span class="caret"></span></a>
      <ul class="dropdown-menu">
        {% for child in item.children.all %}
          {% draw_menu child.name %}
        {% endfor %}
      </ul>
    </li>
  {% else %}
    <li>{% if item.url == request.path %} class="active"{% endif %}<a href="{{ item.url }}">
        {{ item.name }}
    </a></li>

  {% endif %}
</ul>
{% endfor %}
